@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@font-face {
	font-family: 'Erode';
	src: url('../app/fonts/Erode_Complete/Fonts/OTF/Erode-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Erode';
	src: url('../app/fonts/Erode_Complete/Fonts/OTF/Erode-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Erode';
	src: url('../app/fonts/Erode_Complete/Fonts/OTF/Erode-Semibold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Erode';
	src: url('../app/fonts/Erode_Complete/Fonts/OTF/Erode-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Robot Slap';
	src: url('../app/fonts/Roboto_Slab/static/RobotoSlab-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Robot Slap';
	src: url('../app/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Robot Slap';
	src: url('../app/fonts/Roboto_Slab/static/RobotoSlab-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Robot Slap';
	src: url('../app/fonts/Roboto_Slab/static/RobotoSlab-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

.tableDashboard {
	width: 100%;
	align-items: center;
	justify-content: center;
	border: 1px solid #eaeaea;
}
.tableDashboard > thead > tr > th {
	color: white !important;
	font-weight: bold;
	background-color: #334155;
	align-items: center;
	justify-content: center;
	text-align: center !important;
}
.tableDashboard > tbody > tr:hover {
	background-color: #f9f9f9;
}

.tableDashboard > tbody > tr {
	align-items: center !important;
	justify-content: center !important;
	text-align: center !important;
}
.tableDashboard > tbody > tr > td,
.tableDashboard > thead > tr > th {
	padding: 1rem;
	justify-content: center;
	align-items: center;
	border: 1px solid #eaeaea !important;
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
